@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #022B3A;
    --dark-blue: #6B7280;
    --off-white: #F3F4F6;
}

body {
    font-family: 'IBM Plex Sans',
        sans-serif;
    margin: 0;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    margin: auto;
    max-width: 600px;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

}

.secondary-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

hr {
    margin: 2rem 0rem;
}

.list-non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.navigation .nav-brand {
    font-weight: bolder;
    font-size: larger;
    padding-top: 1rem;
}

.navigation .link {
    color: white;
}

.navigation .nav-pills {
    text-align: right;
    padding: 1rem;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    color: var(--dark-blue);
    padding-top: 1rem;
    margin: auto;
    text-align: center;
    max-width: 600px;

}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.section {
    padding: 2rem;
}


.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

.container {
    padding: 0rem 1rem;

}

.container-center {
    margin: auto;
    max-width: 600px;
}

.footer {
    background-color: var(--primary-color);
    padding: 1rem 0rem;
    text-align: center;
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer a {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer ul li .fa{
   font-size: 30px;
   line-height: 60px;
   transition: .6s;
}

.last{
    padding-bottom: 5rem;
}

