<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komal Mann</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Komal's Component Library</h1>
    <hr>
    <h2>@typography</h2>
    <h1>This is an H1</h1>
    <h2>This is second biggest heading</h2>
    <p>This is a paragraph</p>
    <small>This is very small text</small>
    <hr>
    <h2>@Container</h2>
    <h3>Fluid container</h3>
    <p class="fluid-container container">This is a fluid container and it will go till the end of the page</p>

    <h3>Center Container</h3>
    <div class="container">This is a centered container and it will go till the specified width</div>
    <hr>

    <h2>@links</h2>
    <a href="/" class="link primary-link">Primary Link</a>
    <a href="/" class="secondary-link link">Secondary Link</a>

    <hr>

    <h2>@lists</h2>

    <h3>unordered lists</h3>

    <ul class="list-non-bullet">
        <li>Item One</li>
        <li>Item Two</li>
        <li>Item Three</li>

    </ul>

    <h3>Unordered Inline Item Lists</h3>

    <ul class="list-non-bullet">
        <li class="list-inline">Inline Item One</li>
        <li class="list-inline">Inline Item Two</li>
        <li class="list-inline">Inline Item Three</li>
    </ul>

    <h3>Reverse Ordered Lists</h3>

    <ol>
        <li>milk</li>
        <li>eggs</li>
        <li>bread</li>
    </ol>

    <hr>

    <h2>@nav</h2>
    <nav class="navigation container">
        <div class="nav-brand">IAMDEVELOPER</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-inline"><a href="/" class="link link-active">Home</a></li>
            <li class="list-inline"><a href="/" class="link">Projects</a></li>
            <li class="list-inline"><a href="/" class="link">Achievements</a></li>
            <li class="list-inline"><a href="/" class="link">Resume</a></li>
            <li class="list-inline"><a href="/" class="link">Blogs</a></li>
        </ul>
    </nav>

    <hr>

    <h2>@header</h2>

    <header class="hero">
        <img class="hero-img" src="/images/undraw_proud_coder_7ain.svg">
        <h1 class="hero-heading"><span class="heading-inverted">I am Komal </span><br> A Pre-Final Year Computer Science Student</h1>
    </header>

    <hr>

    <h2>@sections</h2>

    <section class="section">
        <div class="container container-center">
        <h1>@white section</h1>
        <p>This will have white background  </p>
        </div>
    </section>

    <section class="section ow">
                <div class="container container-center">

        <h1>@off white section</h1>
        <p>This will have off white background Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, libero debitis. Assumenda illum cum exercitationem eos adipisci. Repudiandae eius facilis vel deleniti labore cum? Ut minima fuga aut in facere dolorum, dolores doloribus, nesciunt maiores perspiciatis corrupti? Officiis, maxime, cum quia voluptatibus magni minus, reiciendis tempore rem natus corporis repudiandae.</p>
         </div>
    </section>

    <hr>

    <h2>@footer</h2>

<footer class="footer">
    <div class="footer-header">Some small heading inside</div>
    <ul class="social-links list-non-bullet">
        <li class="list-inline"><a class="link" href="/">Twitter</a></li>
        <li class="list-inline" ><a class="link" href="/">Linkedin</a></li>
        <li class="list-inline"><a class="link" href="/">Github</a></li>
    </ul>
</footer>

    <div style="height:30vh;"></div>

</body>

</html>